# Global configuration for all services

spring:
  cloud:
    config:
      server:
        git:
          uri: ${GIT_REPO_URI:https://github.com/your-username/GelismisBankacilik.git}
          default-label: main

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud: INFO
    org.springframework.web: INFO

