spring:
  application:
    name: account-service
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
    timeout: 2000ms
  data:
    redis:
      repositories:
        enabled: false
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      retries: 3
      retry-backoff-ms: 1000
      acks: all
      max-in-flight-requests: 5

server:
  port: 9016

app:
  kafka:
    transaction-topic: transaction-events

logging:
  level:
    com.example.OnlineBankacilik: INFO
    com.example.OnlineBankacilik.Kafka: INFO
    org.springframework.kafka: INFO
    org.apache.kafka: WARN
    org.hibernate.SQL: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info

