server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active: git
  cloud:
    config:
      server:
        git:
          uri: ${GIT_REPO_URI:https://github.com/furkankeldal/GelismisBankacilik.git}
          clone-on-start: true
          force-pull: true
          default-label: main
          search-paths:
            - '{application}'
            - '{application}/{profile}'
            - '{application}/{profile}/{label}'
          timeout: 5
        native:
          search-locations: file:./config-repo,classpath:/config
        

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh

logging:
  level:
    org.springframework.cloud.config: DEBUG

